@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Nunito Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ::-moz-selection {
  color: rgb(37, 37, 37);
  background: rgb(255, 255, 255);
} */

::selection {
  color: rgb(255, 255, 255);
  background: rgb(58, 58, 58);
}